$color-principal: rgba(0, 0, 0, 0.8);
$color-fondo-body: rgba(255, 217, 0, 0.664);
$color-fondo-blanco: white;
$color-fonts-titulos: rgb(76, 91, 122);
$color-fonts-parrafos-blancos: rgb(255, 255, 255);
$color-fons-parrafos-negros:rgb(0, 0, 0);
$color-btn:rgb(163, 163, 165);

$color-hover-mouse: yellow;

$border-colors: yellow;
$border-radius: 15px;


$font-size-h1: 60px;
$margin-h1:1%;
$margin-h3:2%;
$font-size-h3: 25px;
$font-size-p: 15px;


$font-family-h1: 'Calibri';
$font-family-h3: 'Calibri';
$font-navbar: 'Calibri';
$font-family-p: 'Calibri';
$font-family-btn:'Calibri';



$height-navbar-logo: 100px;

