.h1-nosotros{
    font-size: 60px;
    margin: 2%;
}
.col-nosotros{
    @include div-nostros($color-principal,5%)
}
.div-img-nosotros{
    @include div-nostros(transparent,0)
}
.img-nosotros{
width: 100%;
height: 100%;
}
.img-nosotros-chicas{
    width: 30%;
    height: auto;
    margin: 2% 0;
}
.h3-nosotros{
    font-size: 40px;
}
.p-nosotros{
    font-size: 20px;
}
