
.col-servicios{
    @include div-nostros($color-principal,5%)
}
.div-img-servicios{
    @include div-nostros(transparent,0)
}
.img-servicios{
    width: 100%;
    height: 100%;
}
.img-nosotros-chicas{
    width: 30%;
    height: auto;
    margin: 2% 0;
}
.p-servicios{
    font-size: 20px;
    text-align: start;
}